//@include makeIconSvg('sun',"????")
@mixin makeIconSvg($name,$content) {

  .ion-ios-#{$name}:before,
  .ion-ios-#{$name}-circle:before,
  .ion-ios-#{$name}-circle-outline:before,
  .ion-ios-#{$name}-outline:before,
  .ion-md-#{$name}:before,
  .ion-md-#{$name}-circle:before,
  .ion-md-#{$name}-circle-outline:before,
  .ion-md-#{$name}-outline:before {
    @extend .ion !optional;
  }

  .ion-ios-#{$name}:before,
  .ion-ios-#{$name}-outline:before,
  .ion-md-#{$name}:before,
  .ion-md-#{$name}-outline:before {
    content: $content;
  }
}

@mixin icon-common {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 0.8em;
  height: 0.8em;
  margin: 0.2em;
  content: ' '
}

//@include makeIcon('me', "../assets/icon/tab/me.png", "../assets/icon/tab/me-o.png")
@mixin makeIcon($name,$src,$src-o) {
  .ion-ios-#{$name}:before,
  .ion-md-#{$name}:before {
    background: url($src);
    @include icon-common
  }

  .ion-ios-#{$name}-outline:before,
  .ion-md-#{$name}[ng-reflect-is-active=false]:before,
  .tab-button[aria-selected=false] .ion-md-#{$name}:before,
  .ion-md-#{$name}-outline:before {
    background: url($src-o);
    @include icon-common
  }

  .tab-button[aria-selected=true] {
    .ion-md-#{$name}:before {
      background: url($src);
      @include icon-common
    }
  }
}
