sliding-menu {
  .sliding-container {
    background: rgba(0, 0, 0, 0.37);
    position: fixed;
    transform: translateZ(1000px);
    z-index: 998;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    .sliding-content {
      background: white;
      width: 80vw;
      height: 100vh;
      margin-left: 20vw;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

}
